{% extends "layout.html.twig" %}

{% block content %}
    <h1>{{ feedback.title }}</h1>
    <ul>
        <ul>
            <li><a href="{{ path('edit_feedback', { 'id': feedback.id }) }}">edit</a></li>
            <li><a href="{{ path('list_feedback') }}">show all</a></li>
            <li>{{ form(delete_form) }}</li>
        </ul>
    </ul>
{% endblock %}